<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>ajout-produit</title>
  </head>
  <body>
    <header>
      <nav>
        <ul>
          <li><a href="/"> boutique</a></li>
          <li><a href="/ajout-produit">add product</a></li>
        </ul>
      </nav>
    </header>
    <main>
      <h1>my list of product</h1>
      <p>list of all product</p>
    </main>
  </body>
</html>
